@using Markdig
@using Microsoft.IdentityModel.Tokens
@model PersonalBlog.Models.Article
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <a class="btn btn-outline-secondary mb-4 d-inline-block" asp-action="Index">← Back</a>

            <div class="border p-4 rounded">
                <h1 class="text-primary-emphasis">@Html.DisplayFor(m => m.Title)</h1>
                <div class="mb-3 text-secondary d-flex align-items-center gap-2">
                    <h6 class="small m-0">Published: @Html.DisplayFor(m => m.PublishDate)</h6>
                    @if (Model.LastModified != null)
                    {
                        <span>-</span>
                        <h6 class="small m-0">Last updated: @Html.DisplayFor(m => m.LastModified)</h6>
                    }
                </div>
                <hr>

                @if (!string.IsNullOrWhiteSpace(Model.Summary))
                {
                    <div class="bg-body-tertiary p-3 rounded mb-2">
                        <p class="lead mb-0">@Model.Summary</p>
                    </div>
                }

                <div>
                    @Html.Raw(Markdown.ToHtml(Model.Content))
                </div>

                @if (!Model.Tags.IsNullOrEmpty())
                {
                    <p class="mb-2 small text-body-tertiary">Tags:</p>
                    foreach (var tag in Model.Tags!)
                    {
                        <span class="small text-primary-emphasis bg-primary-subtle rounded p-1">@tag</span>
                    }
                }
            </div>
        </div>
    </div>
</div>